.dashboard-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-body {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.dashboard-main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
  scrollbar-width: thin;
}
