.products-header {
  padding-top: 100px;
  padding-bottom: 80px;
}

.products-header .container {
  border-bottom: 1px solid var(--tabs-border-color);
  padding-bottom: 100px;
}
.products-header h1 {
  margin-bottom: 0px;
}

.landing-subheading {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 10px;
}

/* =========================== Responsiveness / Media Queries =========================== */
@media only screen and (max-width: 800px) {
  .products-header h1 {
    font-size: 1.5rem;
  }
  .products-header .container p {
    font-size: 0.95rem;
  }
}

@media (max-width: 576px) {
  .products-header .container p {
    font-size: 0.85rem !important;
  }
}
